@tailwind base;

@tailwind components;
@import "./Me.css";
@font-face {
    font-family: 'LemonMilk';
    src: url("fonts/LemonMilkRegular.otf") format('opentype');
}

.bg-main {
    background-image: url('../assets/deadpool-half-face.png');
    @apply bg-right bg-contain bg-no-repeat h-full;
}
.bg-me {
    background-image: url('../assets/deadpool-half-face.png');
    @apply bg-right bg-contain bg-no-repeat h-full;
}
.active {
    @apply border-b-2 bg-gray-200 border-solid text-gray-500;
}
.nav-info {
    @apply  flex flex-col fixed bg-transparent z-100;
}
.navbar-items {
    @apply cursor-pointer whitespace-nowrap px-3 flex items-center leading-full h-full;
}

.navbar-rotate-right {
    transform: rotate(-90deg) translateX(-100%);
    @apply origin-top-left w-h-screen;
}
.navbar-rotate-right-mobile {
    transform: rotate(-90deg) translateX(-100%);
    @apply origin-top-left h-full;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx),
only screen and (-webkit-min-device-pixel-ratio: 3),
only screen and (   min--moz-device-pixel-ratio: 3),
only screen and (     -o-min-device-pixel-ratio: 3/1),
only screen and (        min-device-pixel-ratio: 3),
only screen and (                min-resolution: 384dpi),
only screen and (                min-resolution: 3dppx),
only screen and (-webkit-min-device-pixel-ratio: 3.5),
only screen and (   min--moz-device-pixel-ratio: 3.5),
only screen and (     -o-min-device-pixel-ratio: 3.5/1),
only screen and (        min-device-pixel-ratio: 3.5),
only screen and (                min-resolution: 496dpi),
only screen and (                min-resolution: 3.5dppx)
{
    .nav-info {

    }
    .navbar-rotate-right-mobile {
        transform: rotate(0deg) translateX(0%);
        @apply w-full;
    }
}

@tailwind utilities;
